<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
    <head><link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}"></head>
    <body>
        <div class="container-fluid" id="result">
            <div class="col-md-6 text-left">
              <div class="row">
                <br><br>
                <h1>Search Results: </h1>
                <table class="table table-striped" >
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">ISBN</th>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Rating</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{ d.ISBN }}</td>
                            <td><a href="{{ url_for('book', isbn = d.ISBN) }}">{{ d.title }}</a></td>
                            <td><a>{{ d.author }}</a></td>
                            <td>{{ d.ratings }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </body>  
{% endblock %}